@use "../themes/colours" as c;

.header {
  display: flex;
  justify-content: center;

  ul {
    display: flex;
    padding: 10px 10px 50px 10px;
  }

  li {
    list-style-type: none;
    margin: 5px 10px;
  }

  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

  a:hover {
    color: c.$complementary-color;
  }
}
