.sub-section {
  display: flex;
  justify-content: space-arounds;
  padding: 80px;
}

.sections-header {
  ul {
    display: flex;
    padding: 10px;
  }
}

.sub-pages-footer {
  position: fixed;
}

h2 {
  text-align: center;
}
